*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}
#nav{
    height: 80px;
    width: 100%;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-left: 22px;

}
#nav1 img{
    height: 20px;
    
    object-fit: cover;
}
#nav h5{
    font-size: 16px;
    font-weight: 500;
    font-weight: 600;
    color: #7a7a87;
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-right: 22px;

}
#nav button{
    padding: 13px 15px;
    border-radius: 10px;
    border: none;
    color: #e25a8e;
    font-size: 14px;
    font-weight: 600;
    
}
#nav2 #btn2{
    background-color: #e25a8e;
    color: #fffffff1;
    
}
#nav2 #btn2:hover{
    background-color: #ecbacd;
    color: #fffffff1;
    
}
#center{
    height: 75%;
    width: 100%;
    background-color: black;
    position: relative;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.538);

}
#info{
    height: 135px;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
#info  h4{
    padding: 16px 20px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.759);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    

}
#info #hed1{
    background-color: #fff;
    color: black;
}
#info  h4:hover{
    background-color: #fff;
    color: black;
    
}


#info2{
    height: 280px;
    width: 100%;
   
   position: relative;
   text-align: center;
}
#info2 h1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    justify-items: center;
    color: #fff;
}
#info2 p{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    justify-items: center;
    color: #fff;
    margin-top: 15px;
    line-height: 25px;

}
#info2 input{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%);
    width: 501px;
    height: 54px;
    background-color: #fff;
    color: rgb(82, 214, 170);
    padding-left: 51px ;
    margin-top: 20px;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    outline: none;

    
}
#info2 i{
    position: absolute;
    top: 68%;
    left: 34%;
    font-size: 14px;
    color: rgb(82, 214, 170);

}
#info3{
    height: 50px;
    width: 50%;
   margin-left: 25%;
   position: relative;
   text-align: center;
   display: flex;
   justify-content: space-between;
   align-items: center;
  

}

#info3 h4{
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 5px 18px;
    border-radius: 50px;
    font-weight: 300;
    gap: 10px;
}
#info3 h3{
    color: white;
    font-size: 10px;
    font-weight: 300;
    gap: 10px;
}
#bottom{
    height: 150%;
    width: 100%;
    padding: 30px;
    overflow: hidden;
    

}
.elem{
    height: 230px;
    width: 260px;
    background-color: aquamarine;
    border-radius: 10px;

    display:inline-block;
    border-radius: 10px;
   margin: 30px;
    position: relative;
    overflow: hidden;
   
}
.elem #ss{
    width: 100%;
    height: 40px;
    color: #030319;
    overflow: inherit;
    


}
.elem #bb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000002;
   


}
#bb p{
    color: #000002;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}

#cover{
    height: 40%;
    width: 100%;
    /* if you want to give linear gradiant right to left then */
    /* background: linear-gradient(to right,transparent, rgb(25, 24, 24)); */
    background: linear-gradient(transparent, rgba(25, 24, 24, 0.9));
    position: absolute;
    bottom: -30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    transition: all ease 0.5s;



}
#cover h5{
    color: #fff;
    font-size: 13px;
}
#cover i{
    background-color: #fffffff1;
    color: grey;
    padding: 4px;
    border-radius: 3px;
    margin: 5px;
}


/* pointing the hovering elem */
.elem:hover #cover{
    bottom: 0;
}
#kk{
    width:100%;
    height: 100%;
    padding-left: 30%;
    padding-top: 20px;
}
#kk button{
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    color: #e25a8e;
    font-size: 13px;
    font-weight: 500;
    background-color: #fff;
 
    
}
#kk #btn2{
    background-color: #e25a8e;
    color: #fffffff1;
    
}
#kk #btn2:hover{
    background-color: #ecbacd;
    color: #fffffff1;
}

footer{
    height: 85%;
    width: 100%;
  padding: 3% 10% 3% 4%;
    background-color: #F1F1F1;
    
  }
 
  #list{

    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 7%;
    margin-bottom: 60px;
  }
  .list2{
    padding-top: 10px;
  }
  .list2 img{
    
        height: 25px;
        
        object-fit: cover;
        color: #838387;
   
  }
  .list2 p{
    margin-top: 20px;
    width: 200px;
    font-size: 13px;
    color: #030319;
  }
  .list2 #social{
    margin-top: 20px;

  }
  .list2 #social i{
    font-size: 20px;
  }
  
  .list1 ul{
    list-style: none;
   
  }
  .list1  ul li{
    font-size: 14px;
    margin: 14px 0;
    color: #000000d6;
  }
  .list1  ul li:hover{
 cursor: pointer;
  }
  #list .list1 h5{
    font-weight: 600;
    margin: 20px 0;
    font-size: 14px;
  }


  #footlast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
  #footlast #ff p{
    font-size: 13px;
    font-weight: 400;
    color: #838387;

  }
  #ff2{ 
     
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  #footlast #ff2 p{
    font-size: 13px;
    font-weight: 400;
    color: #838387;
    margin-left:7px ;
  }
  #footlast #ff2 #num{
    font-size: 13px;
    font-weight: 500;
    color: #000002;
    
  }
  #footlast #ff2 img{
    margin-left:7px ;
    height: 20px;
  }